<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 读取外部存储权限，用于导入Excel文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocabularyApp">

        <activity
            android:name=".ui.study.StudyActivity"
            android:exported="true"
            android:theme="@style/Theme.VocabularyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp.Splash" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp" />

        <activity
            android:name=".ui.test.TestActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp" />

        <activity
            android:name=".ui.statistics.StatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp" />

        <activity
            android:name=".ui.main.WordListActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp" />

        <activity
            android:name=".ui.main.FavoriteActivity"
            android:exported="false"
            android:theme="@style/Theme.VocabularyApp" />

    </application>

</manifest>